# Object files
*.o
*.ko

# Libraries
*.lib
*.a

build/
.lock-waf_darwin_build

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

InteliJ
.idea/
*.iml
gh-pages/
